{% extends "layout.html" %}
{% block content %}

 

 {% if tasks|length > 0 %}
    {% for task in tasks %}
        <article class="media content-section">
          
          <div class="media-body">
            <div class="article-metadata">
              
                
                <form action="{{ url_for('tasks.complete_task', task_id = task.id) }}" method="POST" id="completeForm">

                    <input type ="checkbox" name="cBox[]" value = "3" onchange="document.getElementById('completeForm').submit()"><a class="mr-2" href="{{ url_for('tasks.update_task', task_id = task.id) }}">{{ task.task_name }}</a></input>


    </form>

    <form action="{{ url_for('tasks.delete_task', task_id = task.id) }}" method="POST">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
            </div>

          </div>
        </article>
    {% endfor %}

{% else %}

<div class="content-section">
    Looks like you don't have any outstanding tasks! Why not <a href="{{ url_for('tasks.new_task') }}">add one now</a>?
  </div>

{% endif %}
    
{% endblock content %}