{% extends "layout.html" %}
{% block content %}


 <div class="row">
 <a href="{{ url_for('tasks.view_completed') }}" class="ml-auto mb-2 mr-3">View completed tasks</a>
</div>

 {% if tasks|length > 0 %}
    {% for task in tasks %}
        <article class="media content-section">
          
          <div class="media-body">
            <div class="article-metadata">
              

    <div class="row">
        <div class="col">
          
{{ task.task_name }}

</div>

<div class="col-sm-auto">
                
<form action="{{ url_for('tasks.complete_task', task_id = task.id) }}" method="POST" class="d-inline">
      <input class="btn btn-success" type="submit" value="Complete">
    </form>

<form action="{{ url_for('tasks.update_task', task_id = task.id) }}" method="GET" class="d-inline">
      <input class="btn btn-warning" type="submit" value="Edit">
    </form>

    <form action="{{ url_for('tasks.delete_task', task_id = task.id) }}" method="POST" class="d-inline">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
            </div>

          </div>

</div>

        </article>
    {% endfor %}

{% else %}

<div class="content-section">
    Looks like you don't have any outstanding tasks! Why not <a href="{{ url_for('tasks.new_task') }}">add one now</a>?
  </div>

{% endif %}
    
{% endblock content %}